<!-- <mat-sidenav-container class="container">
  <mat-sidenav
    #drawer
    mode="over"
    position="end"
    [opened]="sidenavOpen()"
    (closedStart)="sidenavOpen.set(false)"
  >
    <app-sidenav-menu />
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header
  [progress]="taskCompletionPercent()"
  (toggleSidenav)="sidenavOpen.set(!sidenavOpen())"
/>
    <div class="content">
  <h1 class="clickable-title" >
    Project Title: <span class="project-name" (click)="openDescriptionDialog()">E-commerce Website
      <mat-icon class="info-icon" >info</mat-icon>
    </span>
    
  </h1>

  <app-task-list (taskProgress)="updateProgress($event)"></app-task-list>
</div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<app-login></app-login>