.task-card {
  padding: 16px 20px;
  border: 1px solid #b7bbd1;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  }

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.task-header {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1 1 auto;
  min-width: 0;
}

.task-details {
  h3 {
    margin: 0;
    font-size: 1.2rem;
  }

  p {
    margin: 2px 0 0;
    color: #555;
    font-size: 0.95rem;
  }
}

.task-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;

  button {
    white-space: nowrap;
  }

  .estimated-time {
    font-size: 0.95rem;
    color: #616161;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: auto; 
  }
}


.task-footer {
  font-size: 0.9rem;
  color: #555;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-left: 36px; 
}
